
div {
       background: lightblue;
}

.big {
   font-size: 60px;
}
.big,
.inverse {
  color: white;
    background:  black;
}

.big,
  inverse {}

[data-title] {

  background: red;
}
div  [data-title="Hola"] {
   background: red;
}
div [data-title="Bonjour"] {
  background: green;
}
div [data-title="Salut"] {
 color: purple;
 font-size: 100px;
}
